body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #176DA4;
  width: 980px;
  /* 화면 너비를 고정값으로 설정 */
  height: 1270px;
  /* 화면 높이를 고정값으로 설정 */
  margin: auto;
  /* 가운데 정렬 */
}

.header_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

}


.header_container h2 {
  font-size: 2rem;
  text-transform: capitalize;
}

.header_container a {
  font-size: 1.5rem;
  width: 250px;
  border: 1px solid #ccc;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: black;
}

.header_container a:hover {
  background-color: #ccc;
  bordeR: 1px solid #fff;
}

.title {
  display: flex;
  justify-content: center;
  margin: auto;
}

.btn-logout {
  width: 80px;
  height: 50px;
  border: none;
  border-radius: 15px;
  background: #f6f6f6;
}

.search_box {
  width: max-content;
  display: flex;
  padding: 14px;
  border-radius: 28px;
  align-items: center;
  background: #f6f6f6;
}

.search_box:focus-within {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.search-input {
  font-size: 16px;
  font-family: sans-serif;
  color: #333333;
  margin-left: 14px;
  outline: none;
  border: none;
  background: transparent;
  width: 300px;
  flex: 1;
  transition: box-shadow 0.25s;
}

.search-btn {
  background-color: #333333;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
}

.artists {
  margin: auto;
  width: 100%;
  gap: 1.5rem;
}

.artist_imgs {
  margin-top: 15px;
  width: 150px;
  height: 180px;
  border-radius: 50%;
}




.main_container {
  display: flex;
}

.top-artist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin-right: 20px;
}

.top-artist-info {
  display: flex;
  text-align: center;
  gap: 15px;
}

.top-artist-name {
  font-size: 2rem;
  font-family: sans-serif;
}

.top-artist .followers {
  font-size: 1.5rem;
  font-family: sans-serif;
}

.top-artist .genre {
  text-transform: capitalize;
  font-family: sans-serif;
  background-color: #333333;
  width: 130px;
  height: 50px;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.topArtist_imgs {
  width: 200px;
  height: 250px;
  border-radius: 50%;
}

/* 탑 아티스트 트랙*/


.top-artist-tracks {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  color: #ccc;
}

.top-artist-track {
  width: calc(20% - 0.5rem);
  height: 200px;
  border-bottom: 1px solid #ccc;
}

.row-divider {
  width: 100%;
  height: 5rem;
  /* 행 간격 설정 */
}

.track-image {
  width: 100%;
  height: auto;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid #ccc;
}

.track-name {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10px;
  width: 100%;
}

/*가사*/

.lyrics_container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #333;
  transition: opacity 0.3s ease-in-out;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.selectedTrack-title {
  text-transform: capitalize;
}

.lyrics {
  font-size: 20px;
  transition: opacity 0.3s ease-in-out;
}

.translate-btn {
  border: none;
  outline: none;
  border-radius: 10px;
  width: fit-content;
  font-size: 18px;
  text-transform: uppercase;
}